@import 'reset';
@import 'bootstrap';
.heading {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  width: 100%;
  text-align: center;
  z-index: 99;
  margin: 0;
  min-height: 50px;
  background-color: grey;
  section {
    min-width: 400px;
    span {
      font-size: x-large;
      z-index: 2;
      margin: 3px 0 0 -2px;
      transform: rotate(-30deg);
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.panelContainer {
  height: 100vh;
}

.panelSegment {
  position: relative;
  padding-top: 100px;
  margin: auto;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  text-align: center;
  color: black;
  font-size: 5em;
}

#one {
  background: #8B7CBE;
}

#innerone {
  height: 100%;
}

#two {
  background: #8FB59C;
}

#three {
  background: #DEC363;
}

#four {
  background: #D992A2;
}

#five {
  background: #79AFD1;
}

.hexagonContainer {
  margin-top: 40vh;
  padding: 40px;
}

.hexagon {
  p {
    text-align: center;
    z-index: 2;
    padding: 55px 5px;
    color: whitesmoke;
    text-shadow: 0 0 10px black;
    transform: rotate(-30deg);
    font-size: 0.51em;
  }
}

.hexagon {
  position: relative;
  display: inline-block;
  transform: rotate(30deg);
  width: 250px;
  height: 144.34px;
  margin: 72.17px 50px;
  border-left: solid 10px whitesmoke;
  border-right: solid 10px whitesmoke;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 176.78px;
  height: 176.78px;
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 26.6117px;
}

.hexagon:before {
  top: -88.3883px;
  border-top: solid 14.1421px whitesmoke;
  border-right: solid 14.1421px whitesmoke;
}

.hexagon:after {
  bottom: -88.3883px;
  border-bottom: solid 14.1421px whitesmoke;
  border-left: solid 14.1421px whitesmoke;
}

.hexagonLittle {
  position: relative;
  display: inline-block;
  transform: rotate(30deg);
  width: 60px;
  height: 34.64px;
  margin: 17.32px 20px;
  border-left: solid 5px #333333;
  border-right: solid 5px #333333;
}

.hexagonLittle:before,
.hexagonLittle:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 42.43px;
  height: 42.43px;
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 3.7868px;
}

.hexagonLittle:before {
  top: -21.2132px;
  border-top: solid 7.0711px #333333;
  border-right: solid 7.0711px #333333;
}

.hexagonLittle:after {
  bottom: -21.2132px;
  border-bottom: solid 7.0711px #333333;
  border-left: solid 7.0711px #333333;
}

#hhU, #hhP, #hhC, #hhA {
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.4s linear;
}

.showing {
  opacity: 1 !important;
  transform: rotate(390deg);
}

.orange {
  background: orange;
}
