@import 'reset';
@import 'bootstrap';
@import 'onepagescroll';
@import 'header';
@font-face {
  font-family: Ethon;
  src: url('./fonts/Ethon.ttf');
}

#app {
  box-sizing: border-box;
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

#innerSection {
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 10vh;
  text-align: center;
  background-size: cover !important;
  justify-content: center;
  align-items: center;
}

.introPanel {
  padding-top: 25vh;
  background: url('./images/bg1.jpg');
  @extend #innerSection;
  flex-wrap: wrap;
  align-items: flex-start;
  p {
    font-size: 2.2em;
    max-width: 800px;
    max-height: 250px;
    padding: 10px 50px;
    color: whitesmoke;
    text-shadow: 0 0 5px black;
  }
  img {
    width: 280px;
    height: 280px;
    border: 7px solid whitesmoke;
    border-radius: 140px;
    box-shadow: 0 0 5px black;
  }
  .introVerbs {
    margin-top: -6em;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    p {
      display: inline-block;
      padding: 0.6em;
      font-family: 'Ethon', sans-serif;
      border: 4px solid white;
      margin: 1em;
      width: 20%;
      font-weight: 600;
      text-shadow: 0 0 5px black;
      box-shadow: 0 0 5px black;
      font-size: 2.5em;
    }
  }
  @media screen and (max-width: 1150px) {
    p {
      display: none;
    }
    .introVerbs p {
      width: 26%;
    }
  }
}

.bioPanel {
  background: url('./images/bg2.jpg');
  flex-wrap: wrap;
  .active {
    color: orange;
  }
  @extend #innerSection;
  .bioCard {
    width: 100%;
    display: flex;
    height: 94%;
    margin: 3vh 3vw;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 3px solid white;
    box-shadow: 0 0 25px black;
    text-align: left;
    align-items: center;
    .contentsTable {
      width: 20%;
      color: white;
      border-right: 1px solid white;
      .orange {
        color: orange;
      }
      h2 {
        font-family: 'Ethon', sans-serif;
        font-size: 1.5vw;
        margin-left: 1.5rem;
        font-weight: 600;
        margin-bottom: 0.8em;
        padding-bottom: 0.3em;
        border-bottom: 1px solid white;
        text-shadow: 0 0 3px black;
        display: block;
      }
      ul {
        font-size: 1.1vw;
        margin-left: 1rem;
        li {
          cursor: pointer;
        }
        li p {
          font-family: 'Ethon', sans-serif;
          font-style: normal;
          margin-bottom: 0;
          margin-left: 1.5rem;
          padding: 0 8px;
          color: white;
          text-shadow: 0 0 3px black;
        }
      }
    }
    .contentArea {
      width: 80%;
      height: 100%;
      margin-left: 1vw;
      h3 {
        font-family: 'Ethon', sans-serif;
        font-weight: 600;
        text-shadow: 0 0 3px black;
        font-size: 1.5vw;
        width: 80%;
        color: white;
        margin-left: 0.625%;
        margin-top: 1.5%;
        padding-bottom: 0.3em;
        display: block;
      }
      .resumeArea {
        width: 100%;
        color: white;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .resumeSection {
          width: 48%;
          border: 1px solid white;
          box-shadow: 0 0 5px black;
          margin: 0.625%;
          padding: 1%;
          h4 {
            font-family: 'Ethon', sans-serif;
            font-weight: 600;
            text-shadow: 0 0 3px black;
            font-size: 1.3vw;
          }
          p {
            font-size: 0.9vw;
          }
        }
      }
    }
  }
}

.photoPanel {
  background: url('./images/bg3.jpg');
  @extend #innerSection;
  align-items: flex-start;
  flex-wrap: wrap;
  .iconSegment {
    position: fixed;
    left: 0;
    margin-top: 27vh;
    margin-right: 1vw;
    margin-left: -10px;
    padding-left: 10px;
    border-radius: 10px;
    background: rgba(222, 195, 99, .2);
    img {
      display: block;
      width: 75px;
      height: 75px;
      margin: 20px 0;
      padding: 15px;
    }
  }
  .gallerySegment {
    font-family: 'Ethon', sans-serif;
    font-size: 37px;
    min-width: 40vw;
    max-height: 30vh;
    margin-top: 1vh;
    color: white;
    text-shadow: 0 0 20px black;
    h2 {
      margin-top: 1vh;
    }
    .photoSegment {
      display: flex;
      justify-content: center;
      .carousel-inner {
        width: 26vw;
        height: 16vw;
        box-shadow: 0 0 20px black;
      }
    }
  }
}

.codePanel {
  background: url('./images/bg4.jpg');
  @extend #innerSection;
  .gistSegment {
    display: table;
    width: 20vw;
    margin: 3vh 1.5vw 8vh 1.5vw;
    padding: 15px;
    background-color: rgba(255, 255, 240, .75);
    box-shadow: 0 0 25px black;
    h2 {
      font-family: 'Ethon', sans-serif;
      font-size: 3vh;
      font-weight: 600;
      padding: 10px;
      border-bottom: 1px solid black;
      text-shadow: 0 0 5px ivory;
    }
    p {
      font-size: 2.5rem;
    }
  }
}

.blogPanel {
  background: url('./images/bg5.jpg');
  @extend #innerSection;
  .gistSegment {
    display: table;
    width: 20vw;
    margin: 3vh 1.5vw 8vh 1.5vw;
    padding: 15px;
    background-color: rgba(255, 255, 240, .75);
    box-shadow: 0 0 25px black;
    h2 {
      font-family: 'Ethon', sans-serif;
      font-size: 3vh;
      font-weight: 600;
      padding: 10px;
      border-bottom: 1px solid black;
      text-shadow: 0 0 5px ivory;
    }
    p {
      font-size: 2.5rem;
    }
  }
}
